.section-5{
  margin-top: 5vh;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 9vh 15vh 32.5vh 9vh 9vh 13vh;
  background-color: white;
  /* overflow-x: hidden; */
}

.number{
  width: 100%;
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.number span{
  font-size: 1vh;
  font-family: Helvetica;
  font-weight: 300;
  margin-left: 5vw;
}

.section-5 .circle{
  width: 10.5vh;
  height: 10.5vh;
  background-image: url("../img/section-5/circulo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 98%;
  animation: rotate 10s linear infinite forwards;
  position: absolute;
  top: -5.3vh;
  right: 3vh;
}

@keyframes rotate {
  from{
  transform: rotate(0deg);
  }
  to {
  transform: rotate(360deg);
  }
}

.sirv{
  z-index: 0;
}

.sign-box{
  width: 100%;
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.marquee {
  margin: 0 auto;
  width: 100%;
  height: 50%;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;  
  }
  
  .marquee__content{
  width: max-content;
  display: flex;
  /* line-height: 20vh; */
  transform: translateX(-66.6%);
  animation: marquee 40s linear infinite forwards;
  height: 100%;
  }

  
.marquee__content-right{
  width: max-content;
  display: flex;
  /* line-height: 20vh; */
  transform: translateX(-66.6%);
  animation: marquee-right 50s linear infinite forwards;
}

.list-inline {
  display: flex;
  justify-content: space-around;
  width: 33.33%;
  /* reset list */
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  }

.list-inline li {
  text-transform: uppercase;
  font-size: 7vh;
  font-family: 'Lato';
  font-weight: 900;
  top: 0;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: transparent;
  margin-left: 20px; 
  cursor: default;
}

@keyframes marquee {
  0% {
  transform: translateX(0%);
  }
  100% {
  transform: translateX(-66.6%);
  }
}
  
@keyframes marquee-right{
    0% {
    transform: translateX(-66.6%);
    }
    100% {
    transform: translateX(0%);
    }
}

.tenis-360{
  width: 100%;
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.icon-360{
  width: 30%;
  background-image: url("../img/section-5/360.png");
  background-repeat: no-repeat;
  background-size: 30%;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  position: relative;
  top: 5vh;
  left: 5vw;
  z-index: 1;
}

.tenis-colors{
  width: 100%;
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  display: grid;
  grid-template-columns: 7% 12% 12% 12% 12% 12% 12% 12% 7%;
  justify-items: center;
  align-items: center;
  position: relative;
}

.color {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  z-index: 1;
}

.select{
  width: 6.1vw;
  height: 6.1vw;
  border-radius: 50%;
  z-index: 0;
  transition: all 0.3s linear;
}

.select-1{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  border: 2px solid black; 
}

.color-1{
  background-color: black;
  grid-column: 2 / 3;
  grid-row: 1 / 2;  
}

.select-2{
  grid-column: 3 / 4;
  grid-row: 1 / 2;  
  border: 2px solid #817B52;
}

.color-2{
  background-color: #817B52;
  grid-column: 3 / 4;
  grid-row: 1 / 2;  
}

.select-3{
  grid-column: 4 / 5;
  grid-row: 1 / 2; 
  border: 2px solid #B83A32; 
}

.color-3{
  background-color: #B83A32;
  grid-column: 4 / 5;
  grid-row: 1 / 2; 
}

.select-4{
  grid-column: 5 / 6;
  grid-row: 1 / 2; 
  border: 2px solid #DA8C20; 
}

.color-4{
  background-color:#DA8C20;
  grid-column: 5 / 6;
  grid-row: 1 / 2; 
}

.select-5{
  grid-column: 6 / 7;
  grid-row: 1 / 2; 
  border: 2px solid #8EA5C8;
}

.color-5{
  grid-column: 6 / 7;
  grid-row: 1 / 2; 
  background-color: #8EA5C8;
}

.select-6{
  grid-column: 7 / 8;
  grid-row: 1 / 2;
  border: 2px solid #E5B5AA; 
}

.color-6{
  grid-column: 7 / 8;
  grid-row: 1 / 2;
  background-color: #E5B5AA; 
}

.color-7{
  grid-column: 8 / 9;
  grid-row: 1 / 2;
  background-color: #EBEBEB;
  border: 1px solid rgb(175, 175, 175); 
  box-sizing: border-box;
}

.select-7{
  grid-column: 8 / 9;
  grid-row: 1 / 2;
  border: 2px solid rgb(175, 175, 175); 
}

.tenis-desc{
  width: 100%;
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  display: grid;
  grid-template-columns: 5% 35% 20% 35% 5%;
  justify-content: center;
  align-items: center;
}

.tenis-desc div {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tenis-desc span{
  font-size: 1.1em;
  font-family: "lato";
  color: #A3A3A3;
  width: max-content;
}

.product-size, .product-name{
  grid-column: 2 / 3;
  border-right: 1px solid rgb(189, 189, 189);
}

.product-size select{
  width: max-content;
  height: max-content;
  border: none;
  background-color: transparent;
  font-size: 1.1em;
  font-family: "lato";
  padding-right: 3vw;
  padding-left: 2vw;
  color: #A3A3A3;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: 1;
}

.angle{
  transform: translateX(-2vw);
}

.product-size select{
  text-align: center;
}

.product-color{
  grid-column: 3 / 4;
}

.product-price{
  grid-column: 4 / 5;
  border-left: 1px solid rgb(189, 189, 189);
}

.tenis-cta-box{
  width: 100%;
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 6 / 7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tenis-cta{
  width: 30vw;
  height: 5vh;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'lato';
  font-size: 4vw;
  line-height: 5vh;
  text-align: center;
  text-decoration: none;
  z-index: 10;
  transition: all 0.3s linear;
  cursor: default;
}

.tenis-cta:hover{
  -webkit-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.75);
}

.section-5-arrow{
  display: none;
}

.tenis{
  display: none;
}

@media (min-width: 1024px) {
  .section-5{
    grid-template-rows: 15vh 22vh 78vh;
    grid-template-columns: 20% 50% 30%;
    overflow: hidden;
  }  

  .sign-box{
    grid-column: 1 / 4;
    overflow: hidden;
  }

  .number span{
    font-size: 2.5vh;
  }

  .section-5 .circle{
    display: none;
  }
  
  .list-inline li {
    font-size: 10vh;
  }

  .tenis-desc{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    grid-template-columns: 100%;
    grid-template-rows: 25% 12% 12% 12% 12% 12% 15%;
    width: 80%;
    justify-self: right;
    justify-content: start;
    align-items: center;

  }

  .tenis-desc div{
    justify-content: left;
  }

  .tenis-desc span{
    font-size: 1.5rem;
    font-family: "lato";
    color: #A3A3A3;
    width: max-content;
  }

  .angle{
    transform: translateX(-1.5vw);
  }
  

  .product-size, .product-name{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    border-bottom: 1px solid rgb(160, 160, 160);
    border-right: none;
    width: 60% !important;
    margin-left: 0px !important;
    
  }

  .product-size select{
    font-size: 1.5rem;
    border: none;
    padding-right: 3vw;
    padding-left: 1vw;
  }

  .product-color{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    border: none;
    font-size: 2em;
    border-bottom: 1px solid rgb(160, 160, 160);
    width: 60% !important;
    margin-left: 0px !important;
  }

  .product-price{
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    border: none;
    font-size: 2em;
    margin-left: 0px !important;
  }

  .tenis-cta{
    width: 60%;
    height: 6vh;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'lato';
    font-size: 1.2vw;
    line-height: 6vh;
    text-align: center;
    text-decoration: none;  
    justify-self: start;
    margin-bottom: 15vh;
  }

  .tenis-cta-box{
    width: 80%;
    height: 100%;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    justify-self: end;
  }

  .section-5-arrow{
    display: block;
  }

  .tenis-colors{
    grid-column: 1 / 2  !important;
    grid-row: 3 / 4  !important;
    grid-template-rows: 15% 10% 10% 10% 10% 10% 10% 10% 15% !important;
    grid-template-columns: 100%  !important;
  }

  .color {
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    z-index: 1;
  }
  
  .select{
    width: 1.8vw;
    height: 1.8vw;
  }
  
  .select-1{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
  
  .color-1{
    grid-row: 2 / 3;
    grid-column: 1 / 2;  
  }
  
  .select-2{
    grid-row: 3 / 4;
    grid-column   : 1 / 2;  
  }
  
  .color-2{
    grid-row: 3 / 4;
    grid-column: 1 / 2;  
  }
  
  .select-3{
    grid-row: 4 / 5;
    grid-column: 1 / 2; 
  }
  
  .color-3{
    grid-row: 4 / 5;
    grid-column: 1 / 2; 
  }
  
  .select-4{
    grid-row: 5 / 6;
    grid-column: 1 / 2; 
  }
  
  .color-4{
    grid-row: 5 / 6;
    grid-column: 1 / 2; 
  }
  
  .select-5{
    grid-row: 6 / 7;
    grid-column: 1 / 2; 
  }
  
  .color-5{
    grid-row: 6 / 7;
    grid-column: 1 / 2; 
  }
  
  .select-6{
    grid-row: 7 / 8;
    grid-column: 1 / 2;
  }
  
  .color-6{
    grid-row: 7 / 8;
    grid-column: 1 / 2;
  }

  .select-7{
    grid-row: 8 / 9;
    grid-column: 1 / 2;
  }
  
  .color-7{
    grid-row: 8 / 9;
    grid-column: 1 / 2;
  }

  .tenis-360{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    align-items: center;
    position: relative;
  }

  .tenis-360 img{
    width: 100%;
  }

  .icon-360{
    width: 100%;
    background-image: url("../img/section-5/360.png");
    background-repeat: no-repeat;
    background-size: 10%;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    position: relative;
    top: 14vh;
    left: 6vw;
  }
}