@media (max-width: 340px){
  .section-2-title h2{
    font-size: 1.5rem !important;
  }

  .section-2-text p{
    font-size: 0.7rem !important;
  }
}

.section-2{
  display: grid;
  grid-template-columns: 5% 22.5% 22.5% 22.5% 22.5% 5% ;
  grid-template-rows: 16vh 30vh 2vh 10vh 12vh;
  width: 100%;
  margin-top: 10vh;
}

.section-2-box{
  grid-column: 2 / 4;
  grid-row: 1 / 4;
  z-index: 1;
}

.section-2-title{
  transform: translateY(300px);
  transition: all 2s linear;
  opacity: 0;
}

.section-2-title h2{
  font-size: 8vw;
  font-family: 'Lato';
}

.section-2-text{
  margin-top: 2vh;
  transform: translateY(300px);
  transition: all 2s linear;
  opacity: 0;
}

.section-2-text p{
  font-size: 3.4vw;
  font-family: 'Lato';
}

.section-2-image{
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
  background-image: url("../img/section-2/section-2-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-size: ; */
  width: 90%;
  height: 100%;
  z-index: 0;
  justify-self: end;
  transform: translateY(400px);
  transition: all 2s linear;
  opacity: 0;
}

.section-2-texture{
  grid-column: 5 / 7;
  grid-row: 3 / 4;
  background-image: url("../img/section-2/section-2-texture.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  transform: translateY(400px);
  transition: all 2s linear;
  z-index: 1;
}

.section-3-title{
  height: 100%;
  width: 100%;
  grid-column: 2 / 4;
  grid-row: 4 / 5;
  transform: translateY(400px);
  transition: all 2s linear;
  opacity: 0;
}

.section-3-title h2 {
  text-transform: uppercase;
  font-size: 5vw;
  font-family: 'Lato';
  font-weight: 900;
  -webkit-text-stroke: .5px black;
  -webkit-text-fill-color: transparent;
}

.section-3-text{
  height: 100%;
  width: 100%;
  grid-column: 4 / 7;
  grid-row: 5 / 6;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  transform: translateY(300px);
  transition: all 2s linear;
  opacity: 0;
}

.section-3-text p{
  text-transform: uppercase;
  font-size: 3.4vw;
  font-family: 'Lato';
  font-weight: bold;
  color: white;
  margin: 1em;
}

@media (min-width: 1024px) {

  .section-2{
    grid-template-columns: 10% 50% 25% 15%;
    grid-template-rows: 20vh 40vh 40vh 3.5vh 30vh;
    margin-top: 0;
  }

  .section-2-box{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    z-index: 1;
    margin-top: 11vh;
  }

  .section-2-title h2{
    font-size: 4vw;
  }
  
  .section-2-text{
    margin-top: 10vh;
    width: 63%;
  }
  
  .section-2-text p{
    font-size: 1.6vw;
  }

  .section-2-image{
    grid-column: 3 / 5;
    grid-row: 1 / 4;
    width: 100%;
    height: 100.2%;
    z-index: 0;
    justify-self: end;
  }

  .section-2-texture{
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    background-image: url("../img/section-2/section-2-texture.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .section-3-title{
    margin-top: 15vh;
    height: 100%;
    width: 60%;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  
  .section-3-title h2 {
    text-transform: uppercase;
    font-size: 4vw;
    font-family: 'Lato';
    font-weight: bold;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: transparent;
  }

  .section-3-text{
    height: 100%;
    width: 100%;
    grid-column: 3 / 5;
    grid-row: 4 / 6;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  
  .section-3-text p{
    font-size: 2vw;
    margin: 2em;
  }
}