@media (max-width: 340px){
  .main-title{
    font-size: 3rem !important;
  }
}

.header{
  background-color: white;
  width: 100.1%;
  height: 9.5vh;
  position: fixed;
  z-index: 3;
  box-shadow: 0 9px 18px rgba(0,0,0,.1), 0 6px 12px rgba(0,0,0,.1);
  top:4.5vh;
  z-index: 999;
}

.blackbar{
  background-color: black;
  width: 100%;
  height:4.8vh;
  position: fixed;
  top:0;
  z-index:4;
  z-index: 999;
}

.breadcrumb{
  background-color: black;
  width: 100%;
  height: 6vh;
  z-index:4;
  margin-top: 14vh;
  z-index: 999;
}

.cover{
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.background{
  background-image: url("../img/section-1/fundo2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.second-plan{
  background-image: url("../img/section-1/fundo1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: fill;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  clip-path: inset(5vh 10vw 18vh 10vw);
  -webkit-clip-path: inset( 5vh 10vw 18vh 10vw);
  z-index: 2;
  overflow: hidden;
}

.box-shadow{
  position: absolute;
  top: 5vh;
  left: 10vw;
  width: 80vw;
  height: 57vh;
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 41px -5px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 41px -5px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 41px -5px rgba(0,0,0,0.4);
  z-index: 4;
}

.first-plan{
  background-image: url("../img/section-1/sato.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
}

.sign-box-bg{
  width: 100%;
  height: 67.1vh;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.sign-box-bg .marquee {
  margin: 0 auto;
  width: 100%;
  height: 14vh;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;  
  }
  
.sign-box-bg .marquee__content{
  width: max-content;
  display: flex;
  /* line-height: 20vh; */
  transform: translateX(-66.6%);
  animation: marquee 60s linear infinite forwards;
  height: 100%;
  }

  
.sign-box-bg .marquee__content-right{
  width: max-content;
  display: flex;
  /* line-height: 20vh; */
  transform: translateX(-66.6%);
  animation: marquee-right 60s linear infinite forwards;
}

.sign-box-bg .list-inline {
  display: flex;
  justify-content: space-around;
  width: 33.33%;
  /* reset list */
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  }

.sign-box-bg  .list-inline li {
  text-transform: uppercase;
  font-size: 12vh;
  font-family: 'Lato';
  font-weight: 900;
  top: 0;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: transparent;
  margin-left: 20px; 
  cursor: default;
}

.second-plan .sign-box-bg  .list-inline li {
  text-transform: uppercase;
  font-size: 12vh;
  font-family: 'Lato';
  /* font-weight: 900; */
  top: 0;
  -webkit-text-stroke: 1px transparent;
  -webkit-text-fill-color: transparent;
  margin-left: 20px; 
  cursor: default;
}

.mouse-area{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 67.1vh;
  background-color: transparent;
  z-index: 7;
}

.area{
  width: 100%;
  height: 20%;
}


@keyframes marquee {
  0% {
  transform: translateX(0%);
  }
  100% {
  transform: translateX(-66.6%);
  }
}
  
@keyframes marquee-right{
    0% {
    transform: translateX(-66.6%);
    }
    100% {
    transform: translateX(0%);
    }
}



@media (min-width: 1024px) {

  .main-title{
    font-size: 8rem;
  }

  .cover{
    background-size: cover;
  }

  .header{
    height: 12vh;
  }

  .blackbar{
    height:4.6vh;
    position: fixed;
  }

  .breadcrumb{
    height:6vh;
    margin-top: 16.4vh;
  }

  .sign-box-bg  .list-inline li {
    font-size: 19vh;
  }

  .second-plan .sign-box-bg  .list-inline li {
    font-size: 19vh;
  }
  
  .sign-box-bg .marquee {
    height: 20vh;
    }

  .sign-box-bg{
   height: 80vh;
  }

  .first-plan{
    transform: translateX(-5vw);
  }

  .second-plan{
    clip-path: inset( 12vh 10vw 0 12vw);
    -webkit-clip-path: inset( 12vh 10vw 8vh 12vw);
  }

  .background .marquee:last-child{
    display: none;
  }

  .second-plan .marquee:last-child{
    display: none;
  }

  .mouse-area{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 80vh;
    background-color: transparent;
    z-index: 7;
  }
  
  .area{
    width: 100%;
    height: 25%;
  }

  .area-5{
    display: none;
  }

  .box-shadow{
    position: absolute;
    top: 12vh;
    left: 12vw;
    width: 77.1vw;
    height: 60vh;
  }

  .main-title{
    font-size: 7rem;
  }

  .cover{
    background-size: cover;
  }

  .second-plan{
    background-image: url("../img/section-1/desktop-1.3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  .first-plan{
    background-image: url("../img/section-1/desktop-1.3-removebg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
  }
  
}



@media (min-width: 1366px) {


}
