.section-6{
  display: grid;
  width: 100%;
  grid-template-columns: 95% 5%;
  grid-template-rows: 7vh 10vh 20vh 60vh 4vh;
}

.arrow{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-image: url("../img/section-6/arrow-down.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow span {
  color: white;
  font-size: 5vw;
}

.section-6-title{
  width: 100%;
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  align-items: center;
}

.section-6-title h2{
  text-transform: uppercase;
  font-size: 6vw;
  font-family: "lato";
  letter-spacing: 5vw;
  text-indent: 8%;
}

.section-6-slider{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100.2%;
  grid-column: 1 / 2;
  grid-row: 3 / 5;
}

.section-6-image-2{
  display:none;
}

.section-6-slider .item-1{
  background-image: url("../img/section-6/mobile-2.1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.section-6-slider .item-2{
  background-image: url("../img/section-6/mobile-2.2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 100%;
  transition: transform 0.5s ease-in-out;
}

.section-6-slider .item-3{
  background-image: url("../img/section-6/mobile-2.3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 100%;
  transition: transform 0.5s ease-in-out;
}

.section-6-slider .item-4{
  background-image: url("../img/section-6/mobile-2.4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: -100%;
  transition: transform 0.5s ease-in-out;
}

.section-6-slider .item-1 .shop-box{
  position: absolute;
  width: 40%;
  height: 35%;
  background-color: transparent;
  top: 25%;
  left: 7%;
}

.section-6-slider .item-1 .shop-box .shop-info{
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  border-radius: 20px;
  transform: scale(0);
  transition: all 0.2s linear;
}

.section-6-slider .item-1 .shop-box .shop-ball{
  width: 20px;
  height: 20px;
  border-radius:50px;
  background-color: white;
  position: absolute;
  bottom: -23%;
  left: 5%;
  transition: all 0.2s linear;
}

.section-6-texture{
  grid-column: 2 / 3;
  grid-row: 4 / 6;
  background-image: url("../img/section-6/texture.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
}

.section-6-btn{
  width: 30%;
  height: 100%;
  background-color: black;
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3.8vw;
  justify-self: flex-end;
}

.circle-box{
  position: relative;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
} 

.section-6-circle{
  width: 10.5vh;
  height: 10.5vh;
  background-image: url("../img/section-5/circulo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 98%;
  animation: rotate 10s linear infinite forwards;
  position: absolute;
  top: 12vh;
  left: 3vh;
  z-index: 2;
}

@keyframes rotate {
  0% {
  transform: rotate(0deg);
  }
  100% {
  transform: rotate(360deg);
  }
}

@media (min-width: 1024px) {
  .section-6{
    display: grid;
    width: 100%;
    grid-template-columns: 10% 50% 35% 2% 3%;
    grid-template-rows:10vh 20vh 70vh 10vh;
  }

  .arrow{
    grid-column: 5 / 6;
    grid-row: 1 / 2;
    display: none;
  }

  .section-6-title{
    width: 100%;
    height: 100%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: block;
  }
  
  .section-6-title h2{
    text-transform: uppercase;
    font-size: 3vw;
    font-family: "lato";
    letter-spacing: 2vw;
    /* text-indent: 5%; */
  }

  .section-6-slider{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100.1%;
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }
  .section-6-texture{
    grid-column: 4 / 5;
    grid-row: 2 / 4;
    background-image: url("../img/section-6/texture.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    height: 100.2%;
  }

  .section-6-btn{
    display: none;
  }

  
.circle-box{
  position: relative;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
} 

.section-6-circle{
  width: 25vh;
  height: 25vh;
  background-image: url("../img/section-5/circulo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 98%;
  animation: rotate 10s linear infinite forwards;
  position: absolute;
  top: -4vh; 
  left: 40vw;
  z-index: 2;
}

.section-6-image-2{
  grid-column: 2 / 3;
  grid-row: 3 / 5;
  background-image: url("../img/section-6/desktop-img-esquerda.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 70%;
  height: 100%;
  display: initial;
}
}