.section-9{
  margin-top: 10vh;
  width: 100%;
  height: 70vh;
  display: grid;
  grid-template-columns: 12% 78% 10%;
  grid-template-rows: 35% 10% 10% 20% 25%;
  position: relative;
}

.section-9 .bg{
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background-color: #f1f1f1;
}

.carousell-arrow{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-image: url("../img/section-9/arrow-right.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.section-9-texture{
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  background-image: url("../img/section-9/texture.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.carousell-container{
  width: 100%;
  height: 100%;
  background-color: transparent;
  grid-column: 1 / 5;
  grid-row: 1 / 5;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  position: absolute;
}

.carousell{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.section-9 .item{
  height: 80%;
  width: 40vw;
  box-shadow: rgb(194, 194, 194) 0px 0px 3px;
  margin: 0 3px;
  background-color: white;
}

.carousell:first-child{
  margin-left: 12vw;
}

.cta-container{
  grid-column: 1 / 4;
  grid-row: 5 / 6;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta{
  width: 65vw;
  height: 8vh;
  background-color: black;
  margin-bottom: 4vh;
  color: white;
  text-transform: uppercase;
  font-family: 'Lato';
  font-weight: bold;
  font-size: 4.5vw;
  line-height: 8vh;
  text-align: center;
  text-decoration: none;
}

.item{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 62% 18% 20%;
  justify-items: center;
}

.product-photo{
  width: 90%;
  height: 100%;
  border-bottom: 1px solid black;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.product-value{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'lato';
  font-size: 5vw;
  text-transform: uppercase;
}

.btn-buy{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: 'Lato';
  font-weight: bold;
  font-size: 4vw;
  line-height: 100%;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.product-1{
  margin-left: 0 !important;
}

.product-1 .product-photo{
  background-image: url("../img/section-9/Tenis-Feminino-Vizzano-Casual-Branco-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
}

.product-2 .product-photo{
  background-image: url("../img/section-9/Bolsa-Shopping-Bag-STZ-com-Amarracao-Vermelho-01.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
}

.product-3 .product-photo{
  background-image: url("../img/section-9/Tenis-Via-Marte-Elastico-Preto-01.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
}

.product-4 .product-photo{
  background-image: url("../img/section-9/Tenis-Feminino-Vizzano-Casual-Branco-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
}

@media (min-width: 1024px) {

  .section-9{
    margin-top: 10vh;
    width: 100%;
    height: 60vh;
    display: grid;
    grid-template-columns: 4% 88% 8%;
    grid-template-rows: 30% 10% 10% 20% 30%;
    position: relative;
  }
  
  .section-9 .item{
    height: 90%;
    width: 12vw;
    box-shadow: grey 0px 0px 7px;
    margin: 0 3px;
    background-color: white;
  }

  .carousell:first-child{
    margin-left: 4vw;
  }

  .product-value{
    font-size: 1.2vw;
  }

  .btn-buy{
    font-size: 1.2vw;
  }

  .cta{
    font-size: 1.7vw;
  }

  .cta-container{
    grid-column: 1 / 4;
    grid-row: 5 / 6;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
  }
}